body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}

.name-highlight{
    color: orange;
}

.top-banner{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.top-banner img{
    width: 100%;
}
.hireme-button{
    text-decoration: none;
    font-weight: 700;
    width:120px;
    padding: 7px 15px;
    background: linear-gradient(45deg, lightsalmon, tomato);
    color: white;
    border: none;
    border-radius: 5px;
}
.hero-section{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
section{
    height: 500px;
}

.top-section{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-top: 100px;
}

h2{
    font-size: 40px;
}